/****** Object:  Database [Gator]    Script Date: 12/4/2019 1:46:25 PM ******/
CREATE DATABASE [Gator]  (EDITION = 'Standard', SERVICE_OBJECTIVE = 'S2', MAXSIZE = 250 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS;
GO
/****** Object:  Table [dbo].[Tenant]    Script Date: 12/4/2019 1:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tenant](
	[Id] [int] NOT NULL,
	[Email] [varchar](100) NULL,
	[UserName] [varchar](100) NULL,
	[DisplayName] [varchar](200) NULL,
	[ProfileUrl] [varchar](2000) NULL,
	[LastUpdated] [datetime] NOT NULL,
	[Auth_Token] [varchar](4000) NULL,
	[Refresh_Token] [varchar](4000) NULL,
	[Photo] [varchar](2000) NULL,
 CONSTRAINT [PK_Tenant] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TenantOrg]    Script Date: 12/4/2019 1:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TenantOrg](
	[TenantId] [int] NOT NULL,
	[Org] [varchar](200) NOT NULL,
	[LastUpdated] [datetime] NULL,
	[DisplayName] [varchar](200) NULL,
	[Active] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vwTenantOrg]    Script Date: 12/4/2019 1:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwTenantOrg]
AS
SELECT dbo.Tenant.Email, dbo.Tenant.UserName, dbo.Tenant.DisplayName, dbo.Tenant.ProfileUrl, dbo.Tenant.Photo, TenantOrg_1.Org, TenantOrg_1.TenantId
FROM   dbo.Tenant INNER JOIN
             dbo.TenantOrg AS TenantOrg_1 ON dbo.Tenant.Id = TenantOrg_1.TenantId
GO
/****** Object:  Table [dbo].[ActiveTenant]    Script Date: 12/4/2019 1:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActiveTenant](
	[TenantId] [int] NOT NULL,
	[LastUpdated] [datetime] NULL,
 CONSTRAINT [PK_ActiveTenant] PRIMARY KEY CLUSTERED 
(
	[TenantId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vwActiveTenants]    Script Date: 12/4/2019 1:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwActiveTenants]
AS
SELECT DISTINCT dbo.TenantOrg.TenantId, dbo.Tenant.UserName, dbo.ActiveTenant.LastUpdated AS ActiveDateTime, dbo.Tenant.DisplayName, dbo.Tenant.Email
FROM   dbo.ActiveTenant INNER JOIN
             dbo.TenantOrg ON dbo.ActiveTenant.TenantId = dbo.TenantOrg.TenantId INNER JOIN
             dbo.Tenant ON dbo.TenantOrg.TenantId = dbo.Tenant.Id
GO
/****** Object:  Table [dbo].[PullRequestDetails]    Script Date: 12/4/2019 1:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PullRequestDetails](
	[Id] [varchar](200) NOT NULL,
	[Org] [varchar](200) NOT NULL,
	[Repo] [varchar](200) NOT NULL,
	[url] [varchar](2000) NOT NULL,
	[State] [varchar](50) NOT NULL,
	[Action] [varchar](50) NULL,
	[Title] [varchar](2000) NULL,
	[Created_At] [datetime] NOT NULL,
	[Body] [varchar](2000) NOT NULL,
	[Login] [varchar](100) NOT NULL,
	[Avatar_Url] [varchar](2000) NOT NULL,
	[User_Url] [varchar](2000) NOT NULL,
	[LastUpdated] [datetime] NULL,
 CONSTRAINT [PK_PullRequestDetails_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[State] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Developers]    Script Date: 12/4/2019 1:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Developers](
	[TenantId] [varchar](50) NOT NULL,
	[Org] [varchar](200) NOT NULL,
	[Email] [varchar](100) NULL,
	[Name] [varchar](100) NULL,
	[login] [varchar](100) NOT NULL,
	[AvatarUrl] [varchar](2000) NULL,
	[LastUpdated] [datetime] NULL,
 CONSTRAINT [PK_Developers] PRIMARY KEY CLUSTERED 
(
	[TenantId] ASC,
	[Org] ASC,
	[login] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vwOpenClosedPR]    Script Date: 12/4/2019 1:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Script for SELECTTopNRows command FROM SSMS  ******/
CREATE VIEW [dbo].[vwOpenClosedPR]
AS
SELECT DISTINCT 
             dbo.PullRequestDetails.State, dbo.PullRequestDetails.Action, dbo.PullRequestDetails.Created_At, dbo.PullRequestDetails.Repo, dbo.PullRequestDetails.Avatar_Url, CAST(CAST(dbo.PullRequestDetails.LastUpdated AS VARCHAR(12)) AS DATEtIME) AS LastUpdated, 
             dbo.PullRequestDetails.url, dbo.PullRequestDetails.Org, ISNULL(NULLIF (dbo.Developers.Name, ''), dbo.PullRequestDetails.Login) AS Login
FROM   dbo.PullRequestDetails LEFT OUTER JOIN
             dbo.Developers ON dbo.PullRequestDetails.Login = dbo.Developers.login
WHERE (dbo.PullRequestDetails.State IN ('closed', 'open', 'opened', 'close', 'commit'))

GO

 

/****** Object:  Table [dbo].[JiraDev]    Script Date: 12/4/2019 6:17:19 PM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[JiraUsers](
	[TenantId] [char](50) NOT NULL,
	[Org] [char](200) NOT NULL,
	[AccountId] [char](100) NOT NULL,
	[DisplayName] [nchar](100) NOT NULL,
	[AvatarUrls] [char](1000) NULL,
	[Self] [char](1000) NULL,
	[LastUpdated] [datetime] NULL,
	[GitId] [char](100) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[JiraUsers] ADD  CONSTRAINT [DF_JiraUsers_LastUpdated]  DEFAULT (getdate()) FOR [LastUpdated]
GO



GO
/****** Object:  Table [dbo].[JiraTenant]    Script Date: 12/4/2019 1:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JiraTenant](
	[Id] [char](50) NOT NULL,
	[Email] [char](100) NULL,
	[UserName] [varchar](100) NULL,
	[DisplayName] [varchar](200) NULL,
	[ProfileUrl] [char](500) NULL,
	[LastUpdated] [datetime] NOT NULL,
	[Auth_Token] [varchar](4000) NULL,
	[Refresh_Token] [varchar](4000) NULL,
	[Photo] [char](500) NULL,
	[AccessibleResources] [text] NULL,
 CONSTRAINT [PK_JiraTenant] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 12/4/2019 1:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[TenantId] [int] NOT NULL,
	[Status] [char](50) NOT NULL,
	[LastUpdated] [datetime] NOT NULL,
	[Message] [varchar](2000) NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[TenantId] ASC,
	[Status] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TenantRepos]    Script Date: 12/4/2019 1:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TenantRepos](
	[TenantId] [varchar](50) NOT NULL,
	[RepoName] [varchar](200) NOT NULL,
	[LastUpdated] [datetime] NOT NULL,
	[LastRefereshed] [datetime] NOT NULL,
	[Org] [varchar](200) NOT NULL,
	[ID] [varchar](100) NOT NULL,
	[Desc] [varchar](200) NULL,
	[HomePage] [varchar](2000) NULL,
	[Created_At] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VDevTeam]    Script Date: 12/4/2019 1:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VDevTeam](
	[VirtualTeamId] [int] IDENTITY(1,1) NOT NULL,
	[TeamName] [varchar](100) NOT NULL,
	[TenantId] [varchar](50) NOT NULL,
	[login] [varchar](100) NOT NULL,
	[LastUpdated] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VRepoTeam]    Script Date: 12/4/2019 1:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VRepoTeam](
	[VirtualTeamId] [int] IDENTITY(1,1) NOT NULL,
	[TeamName] [varchar](100) NOT NULL,
	[TenantId] [varchar](50) NOT NULL,
	[Repo] [varchar](200) NOT NULL,
	[LastUpdated] [datetime] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TenantOrg]    Script Date: 12/4/2019 1:46:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_TenantOrg] ON [dbo].[TenantOrg]
(
	[TenantId] ASC,
	[Org] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ActiveTenant] ADD  CONSTRAINT [DF_ActiveTenant_LastUpdated]  DEFAULT (getdate()) FOR [LastUpdated]
GO
ALTER TABLE [dbo].[Developers] ADD  CONSTRAINT [DF_Developers_LastUpdated]  DEFAULT (getdate()) FOR [LastUpdated]
 
GO
ALTER TABLE [dbo].[JiraTenant] ADD  CONSTRAINT [DF_JiraTenant_LastUpdated]  DEFAULT (getdate()) FOR [LastUpdated]
GO
ALTER TABLE [dbo].[PullRequestDetails] ADD  CONSTRAINT [DF_PullRequestDetails_LastUpdated]  DEFAULT (getdate()) FOR [LastUpdated]
GO
ALTER TABLE [dbo].[Status] ADD  CONSTRAINT [DF_Status_LastUpdated]  DEFAULT (getdate()) FOR [LastUpdated]
GO
ALTER TABLE [dbo].[Tenant] ADD  CONSTRAINT [DF_Tenant_LastUpdated]  DEFAULT (getdate()) FOR [LastUpdated]
GO
ALTER TABLE [dbo].[TenantOrg] ADD  CONSTRAINT [DF_TenantOrg_LastUpdated]  DEFAULT (getdate()) FOR [LastUpdated]
GO
ALTER TABLE [dbo].[TenantOrg] ADD  CONSTRAINT [DF_TenantOrg_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[TenantRepos] ADD  CONSTRAINT [DF_TenantRepositories_LastUpdated]  DEFAULT (getdate()) FOR [LastUpdated]
GO
ALTER TABLE [dbo].[TenantRepos] ADD  CONSTRAINT [DF_TenantRepositories_LastRefereshed]  DEFAULT (getdate()) FOR [LastRefereshed]
GO
/****** Object:  StoredProcedure [dbo].[CheckJiraTenant]    Script Date: 12/4/2019 1:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[CheckJiraTenant]
	@Id CHAR(150)
AS
Declare @Result int

SELECT @Result = 1
	FROM [dbo].[JiraTenant]
		WHERE Id= trim(@Id)

IF(@Result is NULL)
	Begin
		SELECT 0 as Result
		RETURN;
	END
ELSE 
	BEGIN
	SELECT CASE
			WHEN DATEDIFF(d,LastUpdated , GETDATE()) > 7 THEN 0 
	     	ELSE 1
		END AS Result
	FROM [dbo].[JiraTenant]
	WHERE Id= trim(@Id)
	END
GO
/****** Object:  StoredProcedure [dbo].[CheckTenant]    Script Date: 12/4/2019 1:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Script for SELECTTopNRows command FROM SSMS  ******/
CREATE PROCEDURE [dbo].[CheckTenant]
	@Id INT
AS
Declare @Result int

SELECT @Result = Id
	FROM [dbo].[Tenant]
		WHERE Id= @Id

IF(@Result is NULL)
	Begin
	SELECT 0 as Result
	return;
END
ELSE 
	BEGIN
	SELECT CASE
			WHEN DATEDIFF(d,LastUpdated , GETDATE()) > 7 THEN 0 
	     	ELSE 1
		END AS Result
	FROM [dbo].[Tenant]
	WHERE Id= @Id
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllRepoCollection4TenantOrg]    Script Date: 12/4/2019 1:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Rafat Sarosh
-- Create Date: 1/5/2019
-- Description:  
-- =============================================
CREATE PROCEDURE [dbo].[GetAllRepoCollection4TenantOrg]
	(
	@TenantId VARCHAR (50),
	@Org VARCHAR (200)
)
AS
BEGIN

	SELECT *
	FROM RepoCollections
	WHERE TenantId = @TenantId AND ORG = @Org

END
GO
/****** Object:  StoredProcedure [dbo].[GetDevs]    Script Date: 12/4/2019 1:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Rafat Sarosh
-- Create Date: 1/5/2019
-- Description:  
-- =============================================
Create PROCEDURE [dbo].[GetDevs]
	(
	-- Add the parameters for the stored procedure here
	@TenantId INT,
	@org VARCHAR(50)
	
)
AS
BEGIN

	SELECT *
	FROM [dbo].[TenantOrg]
	WHERE TenantId = @TenantId and Org = @Org


END
GO
/****** Object:  StoredProcedure [dbo].[GetDormentUser]    Script Date: 12/4/2019 1:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Author, , Name>
-- Create Date: <Create Date, , >
-- Description: <Description, , >
-- =============================================
CREATE PROCEDURE [dbo].[GetDormentUser]
 
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
		select T.Email, T.DisplayName, T.userName  from Tenant T 
			where T.email is not null AND  LEN (TRIM(T.Email)) > 0
			 AND T.id not in ( Select TenantId from ActiveTenant where LastUpdated < GETDATE () - 7 )
END
GO
/****** Object:  StoredProcedure [dbo].[GetGraphData4XDays]    Script Date: 12/4/2019 1:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [dbo].[GetGraphData4XDays]
(
    @Day int, 
	@org varchar(200)
)
AS
BEGIN
 
    SET NOCOUNT ON

    select cast (LastUpdated as char(11)) as [Date], count(*) Ctr, [State]  as [State]
			from [dbo].[vwOpenClosedPR] where LastUpdated > getdate() - @day and state != 'commit'  and Org = @org group by LastUpdated , State
END
GO
/****** Object:  StoredProcedure [dbo].[GetJiraOrg]    Script Date: 12/4/2019 1:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetJiraOrg]
	(
	-- Add the parameters for the stored procedure here
	@TenantId CHAR(50)
)
AS
BEGIN

	SELECT AccessibleResources
	FROM [dbo].[JiraTenant]
	WHERE Id = @TenantId


END
GO
/****** Object:  StoredProcedure [dbo].[GetJiraTenant]    Script Date: 12/4/2019 1:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[GetJiraTenant]
	(
	-- Add the parameters for the stored procedure here
	@Id Char (50)
)
AS
BEGIN
    -- exec dbo.SaveActiveTenant @id

	SELECT *
	FROM JiraTenant
	WHERE Id = @Id

END
GO
/****** Object:  StoredProcedure [dbo].[GetOrg]    Script Date: 12/4/2019 1:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Rafat Sarosh
-- Create Date: 1/5/2019
-- Description:  
-- =============================================
CREATE PROCEDURE [dbo].[GetOrg]
	(
	-- Add the parameters for the stored procedure here
	@TenantId VARCHAR(50)
)
AS
BEGIN

	SELECT *
	FROM [dbo].[TenantOrg]
	WHERE TenantId = @TenantId


END
GO
/****** Object:  StoredProcedure [dbo].[GetPR4Id]    Script Date: 12/4/2019 1:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Rafat Sarosh
-- Create Date: 1/5/2019
-- Description:  
-- =============================================
CREATE PROCEDURE [dbo].[GetPR4Id]
	(
	-- Add the parameters for the stored procedure here
	@Id int,
	@Org VARCHAR(200)
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON

	SELECT *
	FROM [dbo].[PullRequestDetails]
	where [Id] = @Id AND Org = @Org





END
GO
/****** Object:  StoredProcedure [dbo].[GetPR4Repo]    Script Date: 12/4/2019 1:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[GetPR4Repo]
	(
	@org VARCHAR(200) ,
	@repo VARCHAR(200)
)
AS
BEGIN

	SELECT top 500
		*
	FROM [dbo].[PullRequestDetails]
	WHERE org = @org AND Repo = @repo

END
GO
/****** Object:  StoredProcedure [dbo].[GetRepoCollectionByName]    Script Date: 12/4/2019 1:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Rafat Sarosh
-- Create Date: 1/5/2019
-- Description:  
-- =============================================
CREATE PROCEDURE [dbo].[GetRepoCollectionByName]
	(
	@CollectionName VARCHAR(200)
)
AS
BEGIN

	SELECT *
	FROM RepoCollections
	WHERE CollectionName = @CollectionName

END
GO
/****** Object:  StoredProcedure [dbo].[GetRepoPR]    Script Date: 12/4/2019 1:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Rafat Sarosh
-- Create Date: 1/5/2019
-- Description:  
-- =============================================
CREATE PROCEDURE [dbo].[GetRepoPR]
	(
	-- Add the parameters for the stored procedure here
	@Day INT = 1,
	@Org VARCHAR(200),
	@Repo VARCHAR(200),
	@PageSize INT

)
AS
BEGIN
	SELECT DISTINCT TopRow.*, Pr.title as title, pr.Body as body,
		pr.Url as pullrequesturl,
		CAST(pr.Created_At as char(12)) as created_at, pr.Created_At as sortonthis
	FROM (
						SELECT * , ROW_NUMBER () Over (partition by Org ORDER BY   [LastUpdated] desc) as [ROW NUMBER]
		FROM [vwOpenClosedPR]
		WHERE LastUpdated BETWEEN  CAST( CAST(GETDATE() - @Day as char(12)) AS DateTime) AND  CAST( CAST (GETDATE() as char(12)) as DateTime)
			AND Org = @Org AND Repo = @Repo
						
						) AS TopRow JOIN PullRequestDetails PR ON 
							PR.Url = TopRow.Url
	WHERE  TopRow.[ROW NUMBER] <= @pageSize
	ORDER BY sortonthis DESC
END
GO
/****** Object:  StoredProcedure [dbo].[GetRepos]    Script Date: 12/4/2019 1:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[GetRepos]
	(
	-- Add the parameters for the stored procedure here
	@TenantId VARCHAR(50),
	@Org VARCHAR(200)

)
AS
BEGIN
	SELECT *
	FROM TenantRepos
	WHERE TenantId = @TenantId AND Org = @Org

END
GO
/****** Object:  StoredProcedure [dbo].[GetTenant]    Script Date: 12/4/2019 1:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[GetTenant]
	(
	-- Add the parameters for the stored procedure here
	@Id INT
)
AS
BEGIN
    exec dbo.SaveActiveTenant @id

	SELECT *
	FROM Tenant
	WHERE Id = @Id

END
GO
/****** Object:  StoredProcedure [dbo].[GetTopRepos4XDays]    Script Date: 12/4/2019 1:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Rafat Sarosh
-- Create Date: 1/5/2019
-- Description:  
-- =============================================
CREATE PROCEDURE [dbo].[GetTopRepos4XDays]
	(
	-- Add the parameters for the stored procedure here
	@Day int = 1,
	@Org VARCHAR(200)
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON

	SELECT [Repo], count(*) ctr
	FROM [vwOpenClosedPR]
	WHERE 
			LastUpdated BETWEEN  CAST( CAST(GETDATE() - @Day as char(12)) AS DateTime) AND  CAST( CAST (GETDATE() as char(12)) as DateTime)
		AND Org = @Org
	GROUP BY  [Repo]
	ORDER BY   ctr desc


END
GO
/****** Object:  StoredProcedure [dbo].[LongestPR]    Script Date: 12/4/2019 1:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Rafat Sarosh
-- Create Date: 1/5/2019
-- Description:  
-- =============================================
CREATE PROCEDURE [dbo].[LongestPR]
	(
	-- Add the parameters for the stored procedure here
	@Day int = 1,
	@Org VARCHAR(200)
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON

	SELECT [Id], DATEDIFF(day, [Created_At], [LastUpdated] ) duration
	FROM [dbo].[PullRequestDetails]
	where state = 'closed' AND Org = @Org AND LastUpdated BETWEEN GETDATE() - @Day AND GETDATE()
	ORDER BY   duration desc




END
GO
/****** Object:  StoredProcedure [dbo].[PR4Devs]    Script Date: 12/4/2019 1:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* IFstate is null then get all the pull Request */
CREATE PROCEDURE [dbo].[PR4Devs]
	(
	@Org VARCHAR(200),
	@login VARCHAR(100),
	@Action VARCHAR(50),
	@day int,
	@pageSize int
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON

	IF( @Action = 'null')
		BEGIN
		IF(@login = 'null' )
				BEGIN
			-- No login no action (for all pr )
			SELECT DISTINCT TopRow.*, Pr.title as title, pr.Body as body,
				pr.Url as pullrequesturl,
				CAST(pr.Created_At as char(12)) as created_at, pr.Created_At as sortonthis
			FROM (
						SELECT * , ROW_NUMBER () Over (partition by Org ORDER BY   [LastUpdated] desc) as [ROW NUMBER]
				FROM [vwOpenClosedPR]
				WHERE LastUpdated BETWEEN  CAST( CAST(GETDATE() - @Day as char(12)) AS DateTime) AND  CAST( CAST (GETDATE() as char(12)) as DateTime)
					AND Org = @Org
						
						) AS TopRow JOIN PullRequestDetails PR ON 
							PR.Url = TopRow.Url
			WHERE  TopRow.[ROW NUMBER] <= @pageSize
			ORDER BY sortonthis DESC
		END
		 ELSE  
				BEGIN
			-- all (open AND closed) pr per dev

			SELECT DISTINCT TopRow.*, Pr.title as title, pr.Body as body,
				pr.Url as pullrequesturl,
				CAST(pr.Created_At as char(12)) as created_at, pr.Created_At as sortonthis
			FROM (
						SELECT * , ROW_NUMBER () Over (partition by Org ORDER BY   [LastUpdated] desc) as [ROW NUMBER]
				FROM [vwOpenClosedPR]
				WHERE LastUpdated BETWEEN  CAST( CAST(GETDATE() - @Day as char(12)) AS DateTime) AND  CAST( CAST (GETDATE() as char(12)) as DateTime)
					AND Org = @Org
					AND login = @login
					AND (State = 'opened' OR State = 'open' OR State = 'closed' OR State = 'close' OR State = 'commit') 
						) AS TopRow JOIN PullRequestDetails PR ON 
							PR.Url = TopRow.Url
			WHERE  TopRow.[ROW NUMBER] <= @pageSize
			ORDER BY sortonthis DESC


		END
	END
	 ELSE  
		-- action is not null
		BEGIN
		IF(@login = 'null' )
				BEGIN
			-- No login but Action (for all pr )
			SELECT DISTINCT TopRow.*, Pr.title as title, pr.Body as body,
				pr.Url as pullrequesturl,
				CAST(pr.Created_At as char(12)) as created_at, pr.Created_At as sortonthis
			FROM (
						SELECT * , ROW_NUMBER () Over (partition by Org ORDER BY   [LastUpdated] desc) as [ROW NUMBER]
				FROM [vwOpenClosedPR]
				WHERE LastUpdated BETWEEN  CAST( CAST(GETDATE() - @Day as char(12)) AS DateTime) AND  CAST( CAST (GETDATE() as char(12)) as DateTime)
					AND Org = @Org
					AND (State = 'opened' OR State = 'open' OR State = 'closed' OR State = 'close' OR State = 'commit') 
						) AS TopRow JOIN PullRequestDetails PR ON 
							PR.Url = TopRow.Url
			WHERE  TopRow.[ROW NUMBER] <= @pageSize
			ORDER BY sortonthis DESC
		END
				 ELSE  
				BEGIN
			-- login AND  Action (for all pr  for particluar dev)
			SELECT DISTINCT TopRow.*, Pr.title as title, pr.Body as body,
				pr.Url as pullrequesturl,
				CAST(pr.Created_At as char(12)) as created_at, pr.Created_At as sortonthis
			FROM (
						SELECT * , ROW_NUMBER () Over (partition by Org ORDER BY   [LastUpdated] desc) as [ROW NUMBER]
				FROM [vwOpenClosedPR]
				WHERE LastUpdated BETWEEN  CAST( CAST(GETDATE() - @Day as char(12)) AS DateTime) AND  CAST( CAST (GETDATE() as char(12)) as DateTime)
					AND Org = @Org
					AND login = @login
					AND (State = 'opened' OR State = 'open' OR State = 'closed' OR State = 'close' OR State = 'commit') 
						) AS TopRow JOIN PullRequestDetails PR ON 
							PR.Url = TopRow.Url
			WHERE  TopRow.[ROW NUMBER] <= @pageSize
			ORDER BY sortonthis DESC

		END
	END


END
GO
/****** Object:  StoredProcedure [dbo].[PR4LastXDays]    Script Date: 12/4/2019 1:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Rafat Sarosh
-- Create Date: 1/5/2019
-- Description:  
-- =============================================
CREATE PROCEDURE [dbo].[PR4LastXDays]
	(
	-- Add the parameters for the stored procedure here
	@Day int = 1,
	@Org VARCHAR(200)
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON
	declare @ctr int
	SELECT *
	FROM [vwOpenClosedPR]
	WHERE 
			LastUpdated BETWEEN  CAST( CAST(GETDATE() - @Day as char(12)) AS DateTime) AND  CAST( CAST (GETDATE() as char(12)) as DateTime)
		AND Org = @Org
	return @ctr
END
GO
/****** Object:  StoredProcedure [dbo].[PRCount4LastXDays]    Script Date: 12/4/2019 1:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Rafat Sarosh
-- Create Date: 1/5/2019
-- Description:  
-- =============================================
CREATE PROCEDURE [dbo].[PRCount4LastXDays]
	(
	-- Add the parameters for the stored procedure here
	@Day int = 1,
	@Org VARCHAR(200)
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON

	IF (@Day = 1 )
		BEGIN
			SELECT state, count(*) ctr
			FROM (
				SELECT state
					FROM [vwOpenClosedPR]
						Where 
							LastUpdated >  cast ( cast ( dateadd (HOUR, -4, GETDATE() - 1) as char(12)) as datetime) --fixing UTC quick rollover of the day
								AND Org = @Org and state != 'commit') T 
						GROUP BY  state
		
		END
	ELSE
		BEGIN
			SELECT state, count(*) ctr
			FROM (
			SELECT state
				FROM [vwOpenClosedPR]
				Where 
					LastUpdated BETWEEN  CAST( CAST(GETDATE() - @Day  as char(12)) AS DateTime) AND  CAST( CAST (GETDATE()  as char(12)) as DateTime)
					AND Org = @Org and state != 'commit') T
			GROUP BY  state
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SaveActiveTenant]    Script Date: 12/4/2019 1:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SaveActiveTenant]
	(
	-- Add the parameters for the stored procedure here
	@TenantId INT

)
AS
BEGIN

	IF NOT EXISTS ( SELECT * FROM [dbo].[ActiveTenant] WHERE TenantId = @TenantId  )   
	    BEGIN
		Insert into [ActiveTenant]  
			(TenantId, LastUpdated)
		Values
			(@TenantId, GETDATE());
		END
	ELSE
		BEGIN
			UPDATE [ActiveTenant] SET LastUpdated = GETDATE() WHERE TenantId = @TenantId 
		END





END
GO
/****** Object:  StoredProcedure [dbo].[SaveDev]    Script Date: 12/4/2019 1:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Rafat Sarosh
-- Create Date: 1/5/2019
-- Description:  
-- =============================================
CREATE PROCEDURE [dbo].[SaveDev]
	(
	-- Add the parameters for the stored procedure here
	@TenantId INT,
	@Org VARCHAR(200),
	@email VARCHAR(100),
	@name VARCHAR(100),
	@login VARCHAR(100),
	@avatarUrl VARCHAR(2000)
)
AS
BEGIN

	IF EXISTS ( SELECT *
	FROM [dbo].Developers
	WHERE TenantId = @TenantId AND Org = @org AND [login] = @login)   
		BEGIN
		update Developers 
			 set [name] = @name, email = @email, avatarUrl = @avatarUrl , LastUpdated = GETDATE()  WHERE TenantId = @TenantId AND Org = @org AND [login] = @login
	END
	 ELSE  
		BEGIN
		Insert into Developers
			(TenantId,Org, email, [name], [login], avatarUrl , lastUpdated)
		Values
			(@TenantId, @Org, @email, @name, @login, @avatarUrl, GETDATE());
	END






END
GO 
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SaveJiraUsers]
	(
	-- Add the parameters for the stored procedure here
	@TenantId CHAR(50),
	@Org VARCHAR(200),
	@accountId VARCHAR(100),
	@displayName VARCHAR(200),
	@avatarUrls VARCHAR(5000),
	@self VARCHAR(500)
)
AS
BEGIN

	IF EXISTS ( SELECT *
		FROM [dbo].JiraUsers
			WHERE TenantId = @TenantId AND Org = @org AND AccountId = @accountId)   
		BEGIN
		update JiraUsers
			 set displayName = @displayName, [self] = @self, avatarUrls = @avatarUrls , LastUpdated = GETDATE()  
					WHERE TenantId = @TenantId AND Org = @org AND AccountId = @accountId
	END
	 ELSE  
		BEGIN
		Insert into JiraUsers
			(TenantId,Org, AccountId, [displayName], avatarUrls, [self], LastUpdated)
		Values
			(@TenantId, @Org, @accountId, @displayName, @avatarUrls, @self, GETDATE());
	END
END
GO



-- =============================================
-- Author:      Rafat Sarosh
-- Create Date: 1/5/2019
-- Description:  
-- =============================================
CREATE PROCEDURE [dbo].[SaveJiraTenant]
	(
	-- Add the parameters for the stored procedure here
	@Id CHAR(50),
	@email VARCHAR (200),
	@UserName VARCHAR(200),
	@DisplayName VARCHAR(200),
	@ProfileUrl CHAR(500),
	@AuthToken VARCHAR(2000),
	@RefreshToken VARCHAR(2000),
	@Photo CHAR(500),
	@accessibleResources Char(2000)
)
AS
BEGIN

	IF EXISTS ( SELECT *
	FROM JiraTenant
	WHERE Id = @Id)   
		Update JiraTenant Set Auth_Token = @AuthToken, 
						  Email = @email,
						  Refresh_Token = @RefreshToken ,
						  UserName = @UserName,
						  DisplayName = @DisplayName,
						  ProfileUrl = @ProfileUrl,
						  LastUpdated = GETDATE(),
						  Photo = @Photo,
						  AccessibleResources = @accessibleResources
							where Id = @Id
	Else
		Insert into JiraTenant
		(Id, email, UserName, DisplayName, ProfileUrl, Photo, Auth_Token, Refresh_token, LastUpdated, AccessibleResources)
	Values
		(@Id, @email, @UserName, @DisplayName, @ProfileUrl, @Photo, @AuthToken, @RefreshToken, GETDATE(), @accessibleResources);
END
GO
/****** Object:  StoredProcedure [dbo].[SaveOrg]    Script Date: 12/4/2019 1:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Rafat Sarosh
-- Create Date: 1/5/2019
-- Description:  
-- =============================================
CREATE PROCEDURE [dbo].[SaveOrg]
	(
	-- Add the parameters for the stored procedure here
	@TenantId INT,
	@Org VARCHAR(200), 
	@DisplayName VARCHAR(200) 
)
AS
BEGIN

	IF NOT EXISTS ( SELECT *
		FROM [dbo].[TenantOrg]
			WHERE TenantId = @TenantId AND Org = @org)   

		BEGIN
		Insert into TenantOrg  
			(TenantId,Org,DisplayName)
		Values
			(@TenantId, @Org, @DisplayName);
		END
	ELSE
		BEGIN
			UPDATE TenantOrg SET DisplayName = @DisplayName WHERE TenantId = @TenantId AND Org = @org 
		END





END
GO
/****** Object:  StoredProcedure [dbo].[SavePR4Repo]    Script Date: 12/4/2019 1:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SavePR4Repo]
	(
	@Id VARCHAR(200),
	@Org VARCHAR(200),
	@Repo VARCHAR(200),
	@Url VARCHAR(2000),
	@State VARCHAR(50),
	@Action VARCHAR(50),
	@Title VARCHAR(2000),
	@Created_At VARCHAR(20),
	@body VARCHAR(2000),
	@Login VARCHAR(100),
	@Avatar_url VARCHAR(2000),
	@User_url VARCHAR(2000)

)
AS
BEGIN


	IF EXISTS ( SELECT *
	FROM [dbo].[PullRequestDetails]
	WHERE Id = @Id AND [State] = @state)   
			BEGIN
		UPDATE [PullRequestDetails]  
					SET LastUpdated = getDate(),
						Created_At =  CAST(@Created_At as DATETIME),
						Org = @Org,
						Repo = @Repo,
						[url] = @Url,
						[State] = @State,
						[Action] = @Action,
						Title = @Title,
						Body = @Body,
						[Login] = @Login,
						Avatar_Url = @Avatar_url,
						User_Url = @User_Url 
								WHERE Id = @Id
	END
		ELSE
			BEGIN
		INSERT INTO [PullRequestDetails]
			(
			Id,
			Org ,
			Repo,
			[Url] ,
			[State],
			[Action],
			Title ,
			Created_At ,
			body ,
			[Login],
			Avatar_url ,
			User_url
			)
		VALUES
			(
				@Id,
				@Org ,
				@Repo,
				@Url ,
				@State,
				@Action,
				@Title ,
				CAST(@Created_At as DATETIME) ,
				@body ,
				@Login,
				@Avatar_url ,
				@User_url 
			)
	END

END
GO
/****** Object:  StoredProcedure [dbo].[SaveRepos]    Script Date: 12/4/2019 1:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SaveRepos]
	(
	@TenantId VARCHAR(50),
	@Org VARCHAR(200),
	@Id VARCHAR(100),
	@name VARCHAR(200),
	@desc VARCHAR(1000),
	@HomePage VARCHAR(1000),
	@CreatedAt VARCHAR(10)

)
AS
BEGIN

	/*	DECLARE @ID VARCHAR(100)
	DECLARE @Name VARCHAR(200)
	DECLARE @Desc VARCHAR(1000)
	DECLARE @HomePage VARCHAR(1000)
	DECLARE @CreatedAt DateTime

	CREATE TABLE #T1 (
		id VARCHAR(100),
		[name] VARCHAR(200),
		[desc] VARCHAR(1000),
		HomePage VARCHAR(1000),
		CreatedAt VARCHAR(12),

	)
	INSERT INTO #t1  SELECT VALUE FROM  STRING_SPLIT (@Repository, ',')  
		
	DECLARE RepoCur CURSOR READ_ONLY
      FOR
      SELECT * FROM #T1
	OPEN RepoCur
	FETCH NEXT FROM RepoCur INTO @ID, @Name, @Desc, @HomePage, @CreatedAt

	WHILE @@FETCH_STATUS = 0
	BEGIN
	*/
	IF EXISTS ( SELECT *
		FROM TenantRepos
		WHERE TenantId = @TenantId AND ID = @ID AND Org = @Org)   
		UPDATE TenantRepos  
				SET LastRefereshed = getDate(),
						RepoName = @Name,
						ID = @ID,
						[Desc] = @Desc,
						HomePage = @HomePage,
						Created_At =  CAST (@CreatedAt as DATETIME)
						WHERE TenantId = @TenantId AND RepoName = @Name AND Org = @Org
	ELSE

		INSERT INTO TenantRepos
		(TenantId,RepoName, Org, ID, [Desc], HomePage, Created_At)
	VALUES
		(@TenantId, @Name, @Org, @ID, @Desc, @HomePage, CAST(@CreatedAt as DateTime));

/*	FETCH NEXT FROM RepoCur INTO @ID, @Name, @Desc, @HomePage, @CreatedAt
	END
	CLOSE RepoCur
	DEALLOCATE RepoCur
	*/
END
GO
/****** Object:  StoredProcedure [dbo].[SaveSTATUS]    Script Date: 12/4/2019 1:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SaveSTATUS]
	(
	-- Add the parameters for the stored procedure here
	@TenantId INT,
	@Status CHAR(50),
	@Message VARCHAR(2000)
)
AS
BEGIN

	IF EXISTS ( SELECT * FROM [dbo].Status 	WHERE TenantId = @TenantId AND Status = @Status )   
		BEGIN
			UPDATE Status 
				 set [Message] = @Message, LastUpdated = GETDATE()  WHERE TenantId = @TenantId AND Status = @Status
		END
	 ELSE  
		BEGIN
			INSERT INTO Status
				(TenantId,[Status], [Message], lastUpdated)
			Values
				(@TenantId, @Status, @Message,  GETDATE());
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SaveTenant]    Script Date: 12/4/2019 1:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Rafat Sarosh
-- Create Date: 1/5/2019
-- Description:  
-- =============================================
CREATE PROCEDURE [dbo].[SaveTenant]
	(
	-- Add the parameters for the stored procedure here
	@Id INT,
	@email VARCHAR (200),
	@UserName VARCHAR(200),
	@DisplayName VARCHAR(200),
	@ProfileUrl VARCHAR(2000),
	@AuthToken VARCHAR(4000),
	@RefreshToken VARCHAR(4000),
	@Photo VARCHAR(2000)
)
AS
BEGIN

	IF EXISTS ( SELECT *
	FROM Tenant
	WHERE Id = @Id)   
		Update Tenant Set Auth_Token = @AuthToken, 
						  Email = @email,
						  Refresh_Token = @RefreshToken ,
						  UserName = @UserName,
						  DisplayName = @DisplayName,
						  ProfileUrl = @ProfileUrl,
						  LastUpdated = GETDATE(),
						  Photo = @Photo
							where Id = @Id
	Else
		Insert into Tenant
		(Id, email, UserName, DisplayName, ProfileUrl, Photo, Auth_Token, Refresh_token, LastUpdated)
	Values
		(@Id, @email, @UserName, @DisplayName, @ProfileUrl, @Photo, @AuthToken, @RefreshToken, GETDATE());
END
GO
/****** Object:  StoredProcedure [dbo].[SetRepoCollection]    Script Date: 12/4/2019 1:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Rafat Sarosh
-- Create Date: 1/5/2019
-- Description:  
-- =============================================
CREATE PROCEDURE [dbo].[SetRepoCollection]
	(
	@TenantId VARCHAR (50),
	@Org VARCHAR (200),
	@Repos VARCHAR (200),
	@CollectionName VARCHAR (200)
)
AS
DECLARE @Repo VARCHAR (200)

CREATE TABLE #T1
(
	val VARCHAR(200),
)
INSERT INTO #t1
SELECT VALUE
FROM STRING_SPLIT (@Repos, ',')

DECLARE RepoCur CURSOR READ_ONLY
      FOR
      SELECT val
FROM #T1

OPEN RepoCur

FETCH NEXT FROM RepoCur INTO @Repo

WHILE @@FETCH_STATUS = 0
	BEGIN
		IF NOT EXISTS ( SELECT *
		FROM RepoCollections
		WHERE TenantId = @TenantId AND ORG = @Org AND CollectionName = @CollectionName AND Repo = @Repo)
				BEGIN
			INSERT INTO RepoCollections
				([TenantId],[Org],[Repo],[CollectionName])
			VALUES
				(@TenantId, @Org, @Repo, @CollectionName)
	END
	FETCH NEXT FROM RepoCur INTO @Repo
END
GO
/****** Object:  StoredProcedure [dbo].[TopDevForLastXDays]    Script Date: 12/4/2019 1:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Rafat Sarosh
-- Create Date: 1/5/2019
-- Description:  
-- =============================================
CREATE PROCEDURE [dbo].[TopDevForLastXDays]
	(
	-- Add the parameters for the stored procedure here
	@Day int = 1,
	@Org VARCHAR(200)
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON
	/*
	SELECT login, Avatar_Url, count(*) as ctr
	FROM [vwOpenClosedPR]
	WHERE 
	Created_At BETWEEN  CAST( CAST(GETDATE() - @Day  as char(12)) AS DateTime) AND  CAST( CAST (GETDATE()  as char(12)) as DateTime)
		AND Org = @Org
		AND (State = 'opened' OR State = 'open' OR State = 'closed' OR State = 'close' OR State = 'commit')
	GROUP BY  login, Avatar_Url
	ORDER BY   ctr desc    Removing the max pr dev name, it is creating unhealthy competetion 
	*/
	SELECT distinct login, Avatar_Url, LastUpdated
	FROM [vwOpenClosedPR] where  Org = @Org
	Order by LastUpdated desc
END
GO
